body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ant-menu-item:hover {
    background-color: rgb(255 255 255 / 25%) !important;
    color: white !important;
}


.ant-menu-item-selected {
    background-color: rgb(255 255 255 / 45%) !important;
    color: white !important;
}
